<!-- Education -->
<div id="quick-nav">
    <ul>
        <li>
            <a class="quick-nav-link" href="#Education">Education</a>
        </li>
        <li>
            <a class="quick-nav-link" href="#Skills">Skills</a>
        </li>
        <li>
            <a class="quick-nav-link" href="#Projects">Projects</a>
        </li>
    </ul>
</div>
<h6 style="display: inline-block; padding-right: 10px;">Github - </h6>
<a href="https://github.com/IDrumsey" target="_blank">https://github.com/IDrumsey</a>
<div id="Education">
    <h1 style="font-weight: bold;" class="section-title">Education</h1>
    <img src="../../../../assets/pics/pexels-element-digital-1370296.jpg" id="education-pic">
    <h5 class="college-name mb-3">Kent State University at Stark</h5>
    <div class="metadata-grad-info mb-3">
        <h6 class="mb-0">Bachelor's of Computer Science</h6>
        <p style="font-style: italic;" class="grad-date">Spring 2022</p>
    </div>
    <h6 style="font-style: italic;"></h6>
</div>
<hr>
<h1 style="font-weight: bold;" class="section-title">Other Qualifications</h1>
<ul>
    <li>Eagle Scout</li>
    <li>IT Internship with Stark County Sheriff's Office (Spring 2021)</li>
</ul>
<hr>
<h1 style="font-weight: bold;" class="section-title mt-4">Youtube</h1>
<p>I make videos about computer science stuff on my youtube channel.</p>
<p>This is me coding this website</p>
<div id="youtube-ref-wrapper">
    <div id="youtube-channel-ref">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/S91tWYfMZww" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<hr>
<!-- skill cards -->
<div id="Skills">
    <h1 style="font-weight: bold;" class="section-title mt-4">Skills</h1>
    <img src="../../../../assets/pics/pexels-pavel-chernonogov-2381463.jpg" id="skills-pic">
    <div class="row mx-auto my-5" id="skills">
        <app-card [ngStyle]="cardStyles" class="col-sm-12 col-md-5 skill-card" *ngFor="let skill of skills" [title]="skill.title">
            <img #icon [src]="skill.iconURL">
            <a *ngFor="let project of skill.projects" [href]="project.link" style="display: block;">{{project.title}}</a>
        </app-card>
    </div>
</div>
<hr>
<!-- Projects -->
<div id="Projects">
    <h1 style="font-weight: bold;" class="section-title mt-4">Projects</h1>
    <img src="../../../../assets/pics/pexels-jeshootscom-834892.jpg" id="projects-pic">
    <div class="row mx-auto my-5" id="projects">
        <app-card [id]="project.title" [ngStyle]="cardStyles" class="col-sm-12 col-md-5 skill-card" *ngFor="let project of projects" [title]="project.title" [description]="project.desc">
            <a style="display: block;" [href]="project.siteURL" target="_blank">{{project.siteURL}}</a>
            <a style="display: block;" [href]="project.codeURL" target="_blank">The code</a>
            <div *ngIf="project.videoLink" class="video-wrapper">
                <iframe class="video" width="100%" height="auto" [src]="project.videoLink | safeURL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div *ngIf="project.mainTechnologies != null">
                <p>Main technologies used</p>
                <ul>
                    <li *ngFor="let tech of project.mainTechnologies">{{tech}}</li>
                </ul>
            </div>
            <div *ngIf="project.subTechnologies != null">
                <p>Other technologies used</p>
                <ul>
                    <li *ngFor="let tech of project.subTechnologies">{{tech}}</li>
                </ul>
            </div>
        </app-card>
    </div>
</div>
<!-- <img style="height: 350px;" src="../../../../assets/pics/css.meme.jpg"> -->