<h1>About me</h1>
<ul>
    <li>I'm from Ohio. Have always lived here.</li>
    <li>Enjoy computer stuff and electronics</li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ufNxLVlK_HE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sh80LhCHaoQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <li>I've played drums and other percussion instruments all throughout high school</li>
    <li>Favorite movie genre is fantasy/sci-fi
        <ol>
            <li>The book of Eli</li>
            <li>Batman: The Dark Knight</li>
        </ol>
    </li>
</ul>