<div class="container-fluid">
  <div class="row">
    <div class="col-12 py-3">
      <div class="row mb-5">
        <div class="col-sm-12 col-md-8 order-md-3">
          <div class="row w-100">
            <div class="col-12 d-flex justify-content-center">
              <div id="profile-pic-wrapper">
                <img id="profile-pic" src="./assets/pics/profile_pic.jpg">
              </div>
            </div>
            <div class="col-12">
              <h5 class="text-center mt-3 description" id="name">Clay Casper</h5>
              <h5 class="text-center description" id="email">testemail@email.com</h5>
              <h5 class="text-center description" id="profession">Web Developer</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-2 order-md-1 mt-4">
          <button mat-raised-button color="primary" class="w-100" (click)="onProfessionalToggleBtnClick()">Professional</button>
        </div>
        <div class="col-sm-12 col-md-2 order-md-4 mt-2">
          <button mat-raised-button color="accent" class="w-100" (click)="onPersonalToggleBtnClick()">Personal</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12" id="page-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>